﻿@model KanakaPracticeTask.VO.AddEmployeeVO
@{
    ViewData["Title"] = "AddEmployee";
}

<h2>AddEmployee</h2>

<h4>Employee</h4>
<hr />
<div class=" row ">
    <div class="col-md-4">
        <form asp-action="AddEmployee" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fname" class="control-label"></label>
                <input asp-for="fname" class="form-control shadow" />
                <span asp-validation-for="fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lname" class="control-label"></label>
                <input asp-for="lname" class="form-control shadow" />
                <span asp-validation-for="lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salary" class="control-label "></label>
                <input asp-for="salary" class="form-control shadow" />
                <span asp-validation-for="salary" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-dark rounded-pill shadow" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Employee List</a>
</div>

