﻿@model IEnumerable<KanakaPracticeTask.VO.EmployeeVO>

@{
    ViewData["Title"] = "Employees";
}


<h2 class=" page-header">@ViewData["Title"]</h2>

<a asp-action="AddEmployee" asp-controller="Employee" class="btn-primary btn  ">Add Employee</a>



<table class="table table-hover table-light table-striped  ">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count<KanakaPracticeTask.VO.EmployeeVO>() != 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.employee.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.employee.fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.employee.lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.employee.salary)
                    </td>
                    <td>
                        @* with Anchor tag:  <a asp-action="DeleteEmployee" asp-controller="Employee" asp-route-ID="@item.id" asp-area="">Delete</a>*@
                        @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.employee.id }, new { @class = " btn btn-danger" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-danger text-center alert-danger" > No Employee available !</td>
            </tr>
        }


    </tbody>
</table>

@if (true)
{

}

<partial name="_MessagePartial" />


