﻿@model KanakaTicketBookingApp.VO.AddEventVO;

@{
    ViewData["Title"] = "AddEvent";
}

<div class="container-sm col-6">

    <h2>Add Event </h2>
    <hr />
  
            <form asp-action="AddEvent" >

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StartPoint" class="control-label"></label>
                    <input asp-for="StartPoint" class="form-control" />
                    <span asp-validation-for="StartPoint" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndPoint" class="control-label"></label>
                    <input asp-for="EndPoint" class="form-control" />
                    <span asp-validation-for="EndPoint" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="BusId" class="control-label"></label>
                    <select asp-for="BusId" class="form-control ">
                        @foreach (var a in ViewBag.BusVO)
                        {
                            <option value="@a.Id">@a.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-dark " />
                </div>
            </form>
        </div>
  
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

