﻿@model IEnumerable<KanakaTicketBookingApp.VO.EventVO>

@{
    ViewData["Title"] = "Index";
}


<div class="container-sm col-12">

    <h2>Index</h2>

    <p>
        <a asp-action="AddEvent" class="btn btn-primary">Add New Event</a>
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartPoint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndPoint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BusVO.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>




            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartPoint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndPoint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BusVO.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-controller="Ticket" asp-action="BookTicket" asp-route-id="@item.Id" class="btn btn-outline-info">Book Now</a>
                    </td>
                </tr>
            }



        </tbody>


    </table>
    </div>