﻿@*@model KanakaMongoWithJsGridTask.Domain.Person

@{
    ViewData["Title"] = "AddPerson";
}

<h2>Add New Person Record</h2>

<hr />
<div class="row">
    <div class="col-md-4 m-md-auto text-left">
        <form asp-action="AddPerson" class="p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger "></div>
            <div class=" input-group-sm  col-12  " style="margin: 5px auto;">
                <label asp-for="fname" class="control-label "></label>
                <input asp-for="fname" class="form-control" />
                <span asp-validation-for="fname" class="text-danger"></span>
            </div>
            <div class=" input-group-sm  col-12  ">
                <label asp-for="lname" class="control-label"></label>
                <input asp-for="lname" class="form-control " />
                <span asp-validation-for="lname" class="text-danger"></span>
            </div>
            <hr />

            <p class="control-label text-center  m-0">Address:</p>

            <div class=" input-group-sm  col-12  ">
                <label asp-for="address.city" class="control-label"></label>
                <input asp-for="address.city" class="form-control " />
                <span asp-validation-for="address.city" class="text-danger"></span>
            </div>

            <div class=" input-group-sm  col-12  ">
                <label asp-for="address.pincode" class="control-label"></label>
                <input asp-for="address.pincode" class="form-control " />
                <span asp-validation-for="address.pincode" class="text-danger"></span>
            </div>

            <div class="form-group  text-center ">
                <input type="submit" value="Create" class="m-2 btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

