﻿@model string



@{
    ViewData["Title"] = "Index";
}

<div id="jsGrid"></div>



<script>
    var clients = [
                    { "fname": "prashant", "lname": "lokhande", "address": { "city": "pune", "pincode": 456989 } },
                    { "fname": "shantanu", "lname": "pare", "address": { "city": "devgad", "pincode": 456989 } }
                  ];

    //var countries = [
    //    { Name: "", Id: 0 },
    //    { Name: "United States", Id: 1 },
    //    { Name: "Canada", Id: 2 },
    //    { Name: "United Kingdom", Id: 3 }
    //];



    $("#jsGrid").jsGrid({
        width: "100%",
        height: "400px",

        inserting: false,
        editing: false,
        sorting: true,
        paging: false,

        autoload: true,



        //data: clients,

        controller: {
            loadData: function (filter) {
                //Send the post request
                var searchCriteria = {};
                
                return $.ajax({
                   // url: "Person/GetAllPersonsUsingPersonEntityList",
                    url: "Person/GetAllPersonsUsingBsonDocumentList",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: JSON.stringify(searchCriteria)
                });
            }
        },



        noDataContent: "No Record Found",
        loadIndication: true,
        loadIndicationDelay: 500,
        loadMessage: "Please, wait...",
        loadShading: true,

        fields: [
            { name: "fname", type: "text", width: 150, title: "First Name", validate: "required" },
            { name: "lname", type: "text", width: 150, title: "Last Name" },
            { name: "address.city", type: "text", width: 50, title: "City" },
            { name: "address.pincode", type: "number", width: 50, title: "Pincode" },

            //{ type: "control", deleteButton: false, editButton: false }
        ]
    });
</script>




