﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "ManageRole";
}

<div class="container-sm col-6">
    <h2>Manage Roles</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Role Name</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><a asp-controller="Account" asp-action="UserRoleList" asp-route-RoleID="@item.Id" class="btn btn-primary">Add/remove Users</a></td>
                </tr>
            }
        </tbody>


    </table>


</div>