﻿@model IEnumerable<KanakaTicketBookingApp.VO.UserVO>

@{
    ViewData["Title"] = "ManageClaim";
}


<div class="container-sm col-12">

    <h2>ManageClaim</h2>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)

                </th>  
                <th>
                @Html.DisplayNameFor(model => model.Email)

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-controller="Account" asp-action="UserClaimList" asp-route-id="@item.Id" class="btn btn-outline-info">Add/Remove Claim</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>