﻿@model KanakaTicketBookingApp.VO.RegisterVO;

@{
    ViewData["Title"] = "Register";
}


<div class="container-sm col-6">
    <h2>Register</h2>

    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <button type="submit" class="btn btn-outline-dark">Register</button>
    </form>

</div>