﻿@model List<KanakaTicketBookingApp.VO.UserRoleVO>;

@{
    ViewData["Title"] = "UserRoleList";
}

<div class="container-sm ">
    <h2>User Role List</h2>

    <form method="post" class="form">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>

                        <td>
                            <input type="hidden" asp-for="@Model[i].Id" />
                            <input type="hidden" asp-for="@Model[i].Name" />
                            <label>@Model[i].Id</label>
                        </td>
                        <td>

                            <label asp-for="@Model[i].IsSelected">@Model[i].Name</label>
                        </td>
                        <td>
                            <input asp-for="@Model[i].IsSelected" />
                        </td>
                    </tr>
                    <br />
                    <hr />
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-outline-dark">Done</button>

    </form>
</div>
