﻿
@model List<KanakaTicketBookingApp.VO.UserClaimVO>


@{
    ViewData["Title"] = "UserClaimList";
}








<div class="container-sm ">
    <h2>UserClaimList</h2>

    <form method="post" class="form">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Claims</th>
                    
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>

                        <td>
                            <input type="hidden" asp-for="@Model[i].ClaimType" />
                            <input type="hidden" asp-for="@Model[i].ClaimValue" />
                            <input type="hidden" asp-for="@Model[i].UserId" />


                            <label asp-for="@Model[i].IsSelected">@Model[i].Claim.Type</label>

                            <input asp-for="@Model[i].IsSelected" />
                        </td>
                    </tr>
                    
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-outline-dark">Done</button>

    </form>
</div>
