﻿@model KanakaTicketBookingApp.VO.BookTicketVO

@{
    ViewData["Title"] = "BookTicket";
}


<div class="container-sm col-6">

    <h2>Book Ticket</h2>

    <hr />

    <form asp-action="BookTicket">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="PassangerName" class="control-label"></label>
            <input asp-for="PassangerName" class="form-control" />
            <span asp-validation-for="PassangerName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EventId" class="control-label"></label>
            <input disabled asp-for="EventId" />
            <input hidden asp-for="EventId" />
        </div>





        <label class="control-label">Seat Structure</label>
        <table class="table-sm " border="1">
            @for (int i = 0; i < Model.SeatNo.Count; i++)
            {
                <tr class="border-dark">
                    @for (int j = 1; j < 5; j++)
                    {


                        @if (@Model.SeatNo[i])
                        {
                            <td class="bg-danger">
                                <label asp-for="SeatNo[i]">  @(i + 1 ) </label>
                                <input hidden asp-for="SeatNo[i]" />
                                <input disabled asp-for="SeatNo[i]" />
                            </td>
                        }
                        else
                        {
                            <td class="bg-success">
                                <label asp-for="SeatNo[i]">  @(i + 1 ) </label>
                                <input asp-for="SeatNo[i]" />
                            </td>
                        }

                        if (j != 4)
                        {
                            i++;
                        }
                    }

                </tr>
            }

        </table>




        <br />

        <div class="form-group">
            <input type="submit" value="Confirm" class="btn btn-outline-dark" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

