﻿@model IEnumerable<KanakaTicketBookingApp.VO.TicketVO>

@{
    ViewData["Title"] = "Index";
}

<div class="container-sm col-12">

    <h2>Index</h2>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PassangerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventVO.BusVO.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventVO.StartPoint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventVO.EndPoint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventVO.Date)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.PassangerName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.EventVO.BusVO.Name)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.SeatNo)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.EventVO.StartPoint)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.EventVO.EndPoint)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.EventVO.Date)
                    </th>

                    <td>
                        @* TODO  delete action here *@
                        <p>TODO:  delete action here</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>