﻿
@{
    ViewData["Title"] = "MessagePartial";
}

@if ((string)TempData["operation"] == "delete")
{
    <script>
        alert("Record deleted");
    </script>
}

@if ((string)TempData["operation"] == "create")
{
    <script>
        alert("Record created");
    </script>
}

@if ((string)TempData["operation"] == "createError")
{
    <script>
        alert("Record not created");
    </script>
}