﻿@model KanakaTicketBookingApp.VO.AddBusVO

@{
    ViewData["Title"] = "AddBus";
}


<div class="container-sm col-6">
    <h2>Add Bus</h2>

    <hr />

    <form asp-action="AddBus">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="control-label"></label>
            <input asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-dark" />
        </div>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
