﻿@model IEnumerable<KanakaTicketBookingApp.VO.BusVO>

@{
    ViewData["Title"] = "Index";
}


<div class="container-sm col-12">

    <h2>Index</h2>

    <p>
        <a asp-action="AddBus" class="btn btn-primary">Create New</a>
    </p>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @* TODO edit delete action here *@
                        <p>TODO: edit delete action here</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>