﻿@model KanakaMVCDemoTask.VO.AddStudentVO;

@{
    ViewData["Title"] = "AddStudent";
}

<div class="container-sm col-6">
    <h2>Add Student</h2>

    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="RollNo"></label>
            <input asp-for="RollNo" class="form-control" />
            <span asp-validation-for="RollNo"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact"></label>
            <input asp-for="Contact" class="form-control" />
            <span asp-validation-for="Contact"></span>
        </div>

        <button type="submit" class="btn  btn-outline-dark">Add Now</button>
    </form>

    </div>