﻿@model List<KanakaMVCDemoTask.VO.StudentVO>

@{
    ViewData["Title"] = "Index";
}

<h2>Students</h2>

<div>

    @if (Model.Any())
    {
        <table class="table ">
            <thead class="thead-dark ">
                <tr>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody >
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].RollNo</td>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Contact</td>
                        <td>
                            <a asp-controller="Student" asp-action="UpdateStudent" asp-route-id="@Model[i].Id" class="btn btn-primary">Update</a> | 
                            <a asp-controller="Student" asp-action="DeleteStudent" asp-route-id="@Model[i].Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert-info " style="padding:100px;"><p class="my-auto font-weight-bold">No Student Available!</p> </div>
    }

        <a asp-controller="Student" asp-action="AddStudent" class="btn btn-outline-dark">Add Student</a>


</div>
