﻿@model KanakaMVCDemoTask.VO.StudentVO

@{
    ViewData["Title"] = "UpdateStudent";
}

<div class="container-sm col-6">
    <h2>Update Student</h2>

    <hr />

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="RollNo" class="control-label"></label>
            <input asp-for="RollNo" class="form-control" />
            <span asp-validation-for="RollNo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact" class="control-label"></label>
            <input asp-for="Contact" class="form-control" />
            <span asp-validation-for="Contact" class="text-danger"></span>
        </div>
        <div class="form-group">
            
                <button type="submit" class="btn btn-outline-dark ">Update</button>
         
        </div>
    </form>


    <div>
        <a asp-action="Index" class="page-link">Back to List</a>
    </div>

    </div>