﻿


@inject SignInManager<IdentityUser> signInManager;

@{
    var appName = "KanakaTicketBookingApp";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @appName</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">

        <a class="navbar-brand" asp-controller="Home" asp-action="Index">@appName</a>

        <button data-toggle="collapse" data-target="#navMenu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                @* drop down for BUS *@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Bus
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Bus" asp-action="Index">Show</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Bus" asp-action="AddBus">Add New</a>

                    </div>
                </li>


                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Event" asp-action="Index">Event</a></li>





                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Ticket" asp-action="Index">Ticket</a></li>

            </ul>

            <ul class="navbar-nav ">




                @* dropdown for role related *@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Role
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ManageRoles">Manage Role</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="CreateRole">Create Role</a>

                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Manageclaim">Claim</a></li>




                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item "><p class="btn   my-sm-0">@User.Identity.Name</p></li>
                    <li class="nav-item ">
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="btn  btn-outline-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link btn  btn-outline-dark mr-2" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li class="nav-item"><a class="nav-link btn  btn-outline-dark " asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                }
            </ul>
        </div>
    </nav>

























    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - @appName</p>
        </footer>
    </div>



    @RenderSection("Scripts", required: false)

    <script src="~/lib/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/esm/popper.js"></script>

</body>
</html>
