﻿@model KanakaMVCDemoTask.VO.LoginVO;

@{
    ViewData["Title"] = "Login";
}


<div class="container-sm col-6">
    <h2>Login</h2>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group form-inline">
            <label asp-for="RememberMe"></label> &nbsp;
            <input asp-for="RememberMe" class="form-check" />

        </div>

        <button type="submit" class="btn btn-dark">Login</button>
    </form>
</div>