﻿<!DOCTYPE html>
<html>
<head>

    <title>@ViewData["Title"] - KanakaTaskMongo</title>


    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <link href="~/lib/jsgrid/jsgrid.min.css" rel="stylesheet" />
    <link href="~/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />

</head>
<body style="background-color:antiquewhite;">


    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: darkseagreen;">
            <ul class=" navbar-nav ">
                <li class="nav-item ">
                    <a asp-controller="Person" asp-action="Index" class="nav-link">Persons list</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Person" asp-action="AddPerson" class="nav-link ">Add Person</a>
                </li>
            </ul>
        </nav>
    </div>

    <br />
    <br />

    <script src="~/lib/jquery/jquery.js"></script>

    <script src="~/lib/jsgrid/jsgrid.min.js"></script>

    <div class="container bg-light text-center ">
        @RenderBody()
    </div>

</body>
</html>
