﻿@model KanakaAuthntcAndAuthrztnTask.VO.LoginUserVO;
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="RememberMe" class=" checkbox-inline" />
        <label asp-for="RememberMe" class="control-label "></label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
