﻿@model PlainAspNetMongoCRUD.ViewModels.PersonViewModel


<div class="panel-info text-center panel" style="padding:5px; margin:2px;">
    <p class="panel-title">@Html.DisplayFor(modelItem => Model.Name)</p>

    <p>
        @Html.DisplayFor(modelItem => Model.Address)
    </p>

    <p>
        @Html.ActionLink("Edit", "UpdatePerson", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "DeletePerson", new { id = Model.Id })
        <br />
        @if (ViewBag.flag == "list")
        {
            @Html.ActionLink("details", "DetailPerson", new { id = Model.Id })
            <span> |</span>
            @Html.ActionLink("details using CQRS", "DetailPerson", "CQRSDemo/Person" , new { id = Model.Id }, new {  })
        }

    </p>
</div>

