﻿
@model PlainAspNetMongoCRUD.ViewModels.PersonViewModel

@{
    ViewBag.Title = "PersonDetails";
    ViewBag.flag = "individual";
}

<h2>Person Details</h2>

<div  style="margin:auto auto;  width:300px;">
        @Html.Partial("_Person", Model)
    </div>

<a>@Html.ActionLink("Go back to list", "Index", "Home")</a>
