﻿
@model IEnumerable<PlainAspNetMongoCRUD.ViewModels.PersonViewModel>

@{
    ViewBag.Title = "Index";
    ViewBag.flag = "list";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddPerson")
</p>

<div class=" row" >
    @foreach (var item in Model)
    {
        <div class="col-lg-3 " style="margin:auto auto; display:inline-block;">

            @Html.Partial("_Person", item)
        </div>
    }
</div>
