﻿@inject SignInManager<IdentityUser> signInManager; 

@{ 
    var appName = "KanakaMVCDemoTask";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @appName</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">

        <a class="navbar-brand" asp-controller="Home" asp-action="Index">@appName</a>

        <button data-toggle="collapse" data-target="#navMenu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">Student</a></li>

                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="ManageRoles">ManageRoles</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateRole">CreateRole</a></li>
            </ul>

            <ul class="navbar-nav ">
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item "><p class="btn   my-sm-0">@User.Identity.Name</p></li>
                    <li class="nav-item ">
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="btn  btn-outline-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link btn  btn-outline-dark mr-2" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li class="nav-item"><a class="nav-link btn  btn-outline-dark " asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                }
            </ul>
        </div>
    </nav>

























    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - KanakaMVCDemoTask</p>
        </footer>
    </div>



    @RenderSection("Scripts", required: false)

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

</body>
</html>
