﻿@model KanakaAuthntcAndAuthrztnTask.VO.CreateRoleVO;
@{
    ViewData["Title"] = "CreateRole";
}

<h2>CreateRole</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <button type="submit">Add Role</button>
</form>