﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "ShowRoles";
}

<h2>ShowRoles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td><a asp-controller="Admin" asp-action="UsersList" asp-route-RoleID="@item.Id" class="btn btn-default">Add/remove Users</a></td>
            </tr>
        }
    </tbody>


</table>


