﻿@model List<KanakaAuthntcAndAuthrztnTask.VO.UsersFromRoleVO>

@{
    ViewData["Title"] = "UsersFromRole";
}

<h2>UsersFromRole</h2>

<form method="post">
    @for (int i = 0; i < Model.Count; i++)
    {
        <input type="hidden" asp-for="@Model[i].Id" />
        <input type="hidden" asp-for="@Model[i].Name" />

        <label>@Model[i].Id</label>
        <label asp-for="@Model[i].IsSelected">@Model[i].Name</label>
        <input asp-for="@Model[i].IsSelected" />
        <br /><hr />
    }
    <button type="submit" class="btn ">done</button>

</form>
